<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Fukan" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_stylesheet_tag "application" %>
    <%= vite_client_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>

  <body class="h-full">
    <%= yield %>
  </body>
</html>
